html, body{height: 100%; min-height: 100%}
body, p, h3{font-family: "Roboto", sans-serif;}
article{margin-top: 20px;}
div, body{ margin: 0; padding: 0;}
a:hover{text-decoration: none;}
.text-css {line-height: 35px;text-align: justify;font-size: 18px;}
h3{font-weight: bold;}
p{font-size: 16px;}
body.full { 
	background-image: url(../images/bg-colors1.jpg) ;
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	background-color: #999;
}
@media screen and (min-width: 768px) {
    .ajuste-texto{padding-bottom:20px;text-align: justify;}
    .ajuste-texto li {font-size: 18px;}

    article{margin: 50px 200px 50px 200px;}
    article.about{margin: 50px 150px 50px 150px;}
}

@media screen and (max-width: 768px){.bg-menu{background-color: rgba(0, 0, 0, 0.5);}}
button{border: 0px; padding: 0px;}
button a {background-color: #ff33cc; padding: 10px; border: 0px;color: #fff;}
button a:hover {color: #fff; text-decoration: none;}
.header{
	width: 100%;
	height: 500px;
	margin: 0;
	background-image: url(../images/bg-colors1.jpg) ;
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	background-color: #999;
    padding-right: 0;
    padding-left: 0;
}

.container{margin: 0 auto; padding: 0; width:100%;}
.container-fluid{padding: 60px 50px;}

/*MENU*/
.navbar{background-color: rgba(0, 0, 0, 0.5); border: 0;}
.nav.navbar-nav li a:visited{color: #ffffff; font-size: 15px; font-weight: bold;}
.nav.navbar-nav li a{color: #ffffff; font-size: 15px; padding-left: 10px; padding-right: 10px; font-weight: bold;} 
.nav.navbar-nav li a:hover, .navbar-nav li.active a{color: #fff !important; background-color: rgba(0, 0, 0, 0.0);}
.navbar-default .navbar-toggle .icon-bar{background-color: rgba(255, 255, 255, 1);}
.navbar-collapse{border-top: 0px;}

/*CAIXA DE TEXTO DO TÍTULO DO SITE*/
.box{
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.box div {background-color: rgba(0, 0, 0, 0.0);color: #ffffff; border: 3px solid rgba(255, 255, 255, 1);border-radius: 0px;}


/*PÁGINA SOBRE A EQUIPE*/
span.line{height: 1px; width: 100%; content: ' '; background-color: black; display: block; margin-top: 20px; margin-bottom: 40px;}
p.name{text-transform: uppercase; font-size: 17px; margin-bottom: 0px;font-family: 'Fjalla One', sans-serif;font-weight: bold;padding-top: 5px;}
div.box-people{
	width: 260px;
	height: 260px;
	margin: 0 auto;
	margin-top: 60px;
}
div.box-people>img{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	border-radius: 50%;
}
div.box-people .info{
	background-color: #fff;
	position: relative;
	width:240px;
	height: 70px;
	margin: 0 auto;
}

div.box-people .info .course{
	font-size: 15px;
	margin-bottom: 0px;
	font-style: italic;
}

@media screen and (max-width: 768px) {
	div.box-people{
		margin-top: 60px;
	}
}


.row{margin: 0;}


/*FORMULARIO*/
.formu{padding-right: 140px;padding-left: 140px;}
article form label{font-size: 16px;}

/*LINHA DO TÍTULO DE CADA PÁGINA*/
.titulo-page{position: absolute;bottom: 30px;left: 0;display: block;width: 100%;color:#fff;text-transform: uppercase;}
.titulo-page::before{left: 30px;}
.titulo-page::before, .titulo-page::after{display: block;height: 2px;width: calc(50% - 170px);content: ' ';background-color: #ff33cc;position: absolute;margin-top: 15px;}
.titulo-page::after{right: 30px;}
.titulo-page::after{bottom: 15px;}

/*SINDROME PAGE*/
article div div figure{
	margin-top: 35px;
	margin-bottom: 35px;
}
article div div figure .image-syndrome{
	width:100%;
	height: auto;
}
article div div figure p{
	font-size: 13px;
	text-align: center;
	font-style: italic;
}

/*BRINQUEDO PAGE*/
article .box-gallery{
	margin-top: 35px;
}
article div div .image-painel{
	width: 100%;
	height: auto;
}

article div div .painel-subtitle{
	font-size: 13px;
	text-align: center;
	font-style: italic;
}

/*PARCEIROS PAGE*/
article .form-parceiros{
	margin-top: 90px;
}

/*FOOTER*/
footer .glyphicon{font-size: 20px;margin-bottom: 20px;color: #ffffff;}
footer{height:150px; background-color: #000;}

