html, body{height: 100%; min-height: 100%}

body, p, h3{font-family: "Roboto", sans-serif;}
body.full { 
			background-image: url(../images/florest.jpg) ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
			background-color: #999;
  
}

div, body{ margin: 0; padding: 0;}

@media screen and (min-width: 768px) {
    .ajuste{
        padding-left: 30px;
        padding-right: 30px;
    }
    .ajuste-texto{
        padding-left: 60px;
        padding-right: 60px;
    }
    
}

@media screen and (max-width: 768px){
    .bg-menu{background-color: rgba(36, 71, 18, 0.7);}
}



.header{
	width: 100%;
	height: 500px;
	margin: 0;
	background-image: url(../images/florest.jpg) ;
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	background-color: #999;
    padding-right: 0;
    padding-left: 0;
}

.container{margin: 0 auto; padding: 0; width:100%;}
.container-fluid{padding: 60px 50px;}


.navbar{background-color: rgba(0, 0, 0, 0.0); border: 0; padding: 10px;}

.nav.navbar-nav li a:visited{color: #ffffff; font-size: 15px; font-weight: bold;}
.nav.navbar-nav li a{color: #ffffff; font-size: 15px; padding-left: 10px; padding-right: 10px; font-weight: bold;} 
.nav.navbar-nav li a:hover, .navbar-nav li.active a{color: #fff !important; background-color: rgba(0, 0, 0, 0.0);}



.box{
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.box div {background-color: rgba(0, 0, 0, 0.0);color: #ffffff; border: 1px solid rgba(0, 0, 0, 1);border-radius: 0px;}


p.company{
	font-size: 16px;
	padding-left: 60px;
	padding-right: 60px;
}

.person {border: 5px solid transparent; margin: 0 auto; transition: box-shadow 0.3s; opacity: 0.7;}
.person:hover {box-shadow: 5px 0px 40px rgba(0,0,0, .5); opacity: 1;}


.row{margin: 0;}
.row.game{padding-right: 80px; padding-left: 80px;}

.formu{padding-right: 140px;padding-left: 140px;}

footer .glyphicon{
	font-size: 20px;
    margin-bottom: 20px;
    color: #ffffff;
}

.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}