	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="titulo-page">O BRINQUEDO</h2>
			</div>
		</div>
		<article>
			<div class="row">
				<div class="col-md-12">
					<p class="text-css">
						Tendo visto que, de acordo com a entrevista realizada na escola, o brinquedo criado deverá ser um que desperte a atenção e gere curiosidade da criança pelo mesmo, e com isso, estimule o seu desenvolvimento enquanto brinca. As crianças citadas durante a entrevista precisam de um brinquedo que prenda a sua atenção e que desenvolva cada vez mais o aprendizado inicial, aprendendo as vogais, reconhecendo cores e imagens.
					</p>
				</div>
			</div>
			<div class="row box-gallery">
				<div class="col-md-4">
					<img src="images/painel-vermelho.jpeg" class="image-painel" title="Painel colorido com led vermelho nas bordas">
					<p class="painel-subtitle">Painel com as bordas iluminadas em vermelho</p>
				</div>
				<div class="col-md-4">
					<img src="images/painel-verde.jpeg" class="image-painel" title="Painel colorido com led verde nas bordas">
					<p class="painel-subtitle">Painel com as bordas iluminadas em verde</p>
				</div>
				<div class="col-md-4">
					<img src="images/painel-azul.jpeg" class="image-painel" title="Painel colorido com led azul nas bordas">
					<p class="painel-subtitle">Painel com as bordas iluminadas em azul</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<img src="images/dado1.jpeg" class="image-painel" title="Dado colorido">
					<p class="painel-subtitle">Dado colorido</p>
				</div>
				<div class="col-md-4">
					<img src="images/pinos1.jpeg" class="image-painel" title="Pinos coloridos">
					<p class="painel-subtitle">Pinos coloridos</p>
				</div>
			</div>
			<div class="row">
				<p class="text-css">
					O brinquedo funciona como imã para a peças conforme a brincadeira esteja acontecendo. A criança irá jogar o dado colorido  e ao parar em algum número e cor com a face para cima, ela irá indendificar qual o pino que terá que coloca no painel colorido. Todas as peças teráo imã para que a brincadeira ficar interessante para eles. O painel além de ser coloridas com cores vibrantes como: azul, amarelo, verde, rosa, laranja e vermelho. Caso a professora que acompanha a brincadeira perceber a dificuldade irá acionar a luz de led pelo controle remoto e facilitando, onde ela irá colocar o pino para que acerte em qual das cores do painel a criança deve colocar e a cada joagada ficando mais interressante para ela. A professora terá um contrle remoto, onde ela irá controlar ajudando a crianaça a assossiar a cor certa.
				</p>
				<p class="text-css">
					O brinquedo foi montado de forma que prenda a atenção e ao mesmo tempo a criança seja alfabetizada e com ao avanço dela as dificuldades pode ser aumentada conforme a criatividade da professora que irá acompanha-lá.
				</p>	
			</div>
		</article>
	</div>
