<div id="about" class="container text-center" style="background-color: #fdfdfd;">
	<div class="row">
		<div class="col-md-12 text-center">
			<h2 class="titulo-page">Quem Somos?</h2>
		</div>		
	</div>
	<article class="about">
        <p>A equipe <strong>Unidos ao Síndrome de Down</strong> é formado por estudantes de Engenharia de Produção e Análise e Desenvolvimento de Sistemas da <a href="http://www.unimonte.br" title="São Judas - Campus Unimonte">São Judas - Campus Unimonte</a></p>
		<div class="row">
			<div class="col-md-4">
                <div class="box-people">
                    <img src="images/Bruna_Xavier_Alves_Maranhao.jpeg" class="" width="200" height="200">
                    <div class="info">
                        <p class="name">Bruna Maranhão</p>
                        <p class="course">Engenharia de Produção</p>
                    </div>
                    <span class="line"></span>
                </div>
            </div>
			<div class="col-md-4">
                <div class="box-people">
                    <img src="images/Camila_SIlva_Palmeira.jpeg" class="" width="200" height="200">
                    <div class="info">
                        <p class="name">Camila Palmeira</p>
                        <p class="course">Engenharia de Produção</p>
                    </div>
                    <span class="line"></span>
                </div> 
            </div>
			<div class="col-md-4">
                <div class="box-people">
                    <img src="images/Cleiton_Cabral_dos_Santos.jpeg" class="" width="200" height="200">
                    <div class="info">
                        <p class="name">Cleiton Santos</p>
                        <p class="course">Engenharia de Produção</p>
                    </div>
                    <span class="line"></span>
                </div>
            </div>
			
		</div>
        <div class="row">
            <div class="col-md-4">
                <div class="box-people">
                    <img src="images/Cristiane_de_Melo_Rodrigues_Freitas.jpeg" class="" width="200" height="200">
                    <div class="info">
                        <p class="name">Cristiane Freitas</p>
                        <p class="course">Engenharia de Produção</p>
                    </div>   
                    <span class="line"></span>      
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-people">
                    <img src="images/Daivid_Bruno_Macedo_SIlva.jpeg" class="" width="200" height="200">
                    <div class="info">
                        <p class="name">Daivid Silva</p>
                        <p class="course">Engenharia de Produção</p>
                    </div>
                    <span class="line"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-people">
                    <img src="images/daniel.jpg" class="" width="200" height="200">
                    <div class="info">
                        <p class="name">Daniel Guimarães</p>
                        <p class="course">Análise e Desenvolvimento de Sistemas</p>
                    </div>
                    <span class="line"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="box-people">
                    <img src="images/Irwing.jpg" class="" width="200" height="200">
                    <div class="info">
                        <p class="name">Irwing Max</p>
                        <p class="course">Análise e Desenvolvimento de Sistemas</p>
                    </div>
                    <span class="line"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-people">
                    <img src="images/Fernando_Gonzaga_Cavalcanti.jpeg" class="" width="200" height="200">
                    <div class="info">
                        <p class="name">Fernando Cavalcanti</p>
                        <p class="course">Engenharia de Produção</p>
                    </div>
                    <span class="line"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-people">
                    <img src="images/jess.jpg" class="" width="200" height="200">
                    <div class="info">
                        <p class="name">Jéssica Pricila</p>
                        <p class="course">Análise e Desenvolvimento de Sistemas</p>
                    </div>
                    <span class="line"></span>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="box-people">
                    <img src="images/Leonardo.jpeg" class="" width="200" height="200">
                    <div class="info">
                        <p class="name">Leonardo Andrade</p>
                        <p class="course">Análise e Desenvolvimento de Sistemas</p>
                    </div>  
                    <span class="line"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-people">
                    <img src="images/Luana_Maciel_de_Sousa.jpeg" class="" width="200" height="200">
                    <div class="info">
                        <p class="name">Luana Maciel</p>
                        <p class="course">Engenharia de Produção</p>
                    </div>
                    <span class="line"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-people">
                    <img src="images/Max.jpeg" class="" width="200" height="200">
                    <div class="info">
                        <p class="name">Max Marlon</p>
                        <p class="course">Engenharia de Produção</p>
                    </div>
                    <span class="line"></span>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="box-people">
                    <img src="images/paulo.jpg" class="" width="200" height="200">
                    <div class="info">
                        <p class="name">Paulo César</p>
                        <p class="course">Análise e Desenvolvimento de Sistemas</p>
                    </div>
                    <span class="line"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-people">
                    <img src="images/Paulo_Victor_Abreu_Sanches.jpeg" class="" width="200" height="200">
                    <div class="info">
                        <p class="name">Paulo Sanches</p>
                        <p class="course">Engenharia de Produção</p>
                    </div>
                    <span class="line"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-people">
                    <img src="images/Sidney_Nascimento_Lourenco.jpeg" class="" width="200" height="200">
                    <div class="info">
                        <p class="name">Sidney Lourenço</p>
                        <p class="course">Engenharia de Produção</p>
                    </div>
                    <span class="line"></span>
                </div> 
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="box-people">
                    <img src="images/Tatiane_de_Assis_Santos_Fuchs.jpeg" class="" width="200" height="200">
                    <div class="info">
                        <p class="name">Tatiane Fuchs</p>
                        <p class="course">Engenharia de Produção</p>    
                    </div>
                    <span class="line"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-people">
                    <img src="images/thiago.jpg" class="" width="200" height="200">
                    <div class="info">
                        <p class="name">Thiago Monteiro</p>
                        <p class="course">Análise e Desenvolvimento de Sistemas</p>
                    </div>
                    <span class="line"></span>
                </div>  
            </div>
        </div>
	</article>
</div>